<!--Opening the ejs tags for including header file-->

<!-- Creating a form where action will 
    be on "/" and the method will be "POST" -->
<form action="/api/admin/resetPassword" method="post">
    <!-- Creating the parameter Username as type= "text"-->
    <label>Password: </label>
    <input type="password" placeholder="Password" name="password"><br><br>
    <!-- Creating the parameter Email as type= "text"-->
    <label>Confirm Password: </label>
    <input type="password" placeholder="Confirm Password" name="cpassword"><br><br>
    <!-- Creating the submit button -->
    <button type="submit">Submit</button>
    <input type="hidden" value="<%- resetToken %>" name="resetToken" >
    <input type="hidden" value="<%- userId %>" name="userId" >
    <input type="hidden" value="<%- userEmail %>" name="userEmail" >
</form>
<!--Opening the ejs tags for including footer file-->
