<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Apply For The Job</title>
</head>
<body>

  {{!-- <h2>Hello {{CANDIDATENAME}}! </h2>
  <p>Hi {{CANDIDATENAME}} , you have successfully appied for the job of {{JOBPOST}}!@! </p> --}}
  {{{EMAILMESSAGE}}}
</body>
</html>