<p>&nbsp;</p>
<div style='background-color: #f8f8f8;'>
    <table
        style='width: 600px;'
        border='0'
        width='600'
        cellspacing='0'
        cellpadding='0'
        align='center'
    >
        <tbody>
            <tr>
                <td
                    style='line-height: 0px; font-size: 0px; mso-line-height-rule: exactly;'
                >
                    <div
                        style='background: #ffffff; background-color: #ffffff; margin: 0px auto; max-width: 600px;'
                    >
                        <table
                            style='background: #ffffff; background-color: #ffffff; width: 100%;'
                            role='presentation'
                            border='0'
                            cellspacing='0'
                            cellpadding='0'
                            align='center'
                        >
                            <tbody>
                                <tr>
                                    <td
                                        style='direction: ltr; font-size: 0px; padding: 0px; text-align: center; vertical-align: top;'
                                    >
                                        <table
                                            role='presentation'
                                            border='0'
                                            cellspacing='0'
                                            cellpadding='0'
                                        >
                                            <tbody>
                                                <tr>
                                                    <td
                                                        class=''
                                                        style='vertical-align: top; width: 600px;'
                                                    >
                                                        <div
                                                            class='mj-column-per-100 outlook-group-fix'
                                                            style='font-size: 13px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;'
                                                        >
                                                            <table
                                                                style='vertical-align: top; height: 54.5469px;'
                                                                role='presentation'
                                                                border='0'
                                                                width='100%'
                                                                cellspacing='0'
                                                                cellpadding='0'
                                                            >
                                                                <tbody>
                                                                    <tr
                                                                        style='height: 15px;'
                                                                    >
                                                                        <td
                                                                            style='font-size: 0px; padding: 0px 0px 40px; word-break: break-word; height: 15px;'
                                                                        >
                                                                            <p
                                                                                style='border-top: solid 7px #6676ef; font-size: 1; margin: 0px auto; width: 100%;'
                                                                            >&nbsp;</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr
                                                                        style='height: 39.5469px;'
                                                                    >
                                                                        <td
                                                                            style='font-size: 0px; padding: 0px 25px; word-break: break-word; height: 39.5469px;'
                                                                            align='center'
                                                                        >
                                                                            <table
                                                                                style='border-collapse: collapse; border-spacing: 0px;'
                                                                                role='presentation'
                                                                                border='0'
                                                                                cellspacing='0'
                                                                                cellpadding='0'
                                                                            >
                                                                                <tbody
                                                                                >
                                                                                    <tr
                                                                                    >
                                                                                        <td
                                                                                            style='width: 110px;'
                                                                                        ><img
                                                                                                style='border: none; display: block; outline: none; text-decoration: none; height: auto; width: 100%;'
                                                                                                title=''
                                                                                                src='https://techinfini.in//wp-content/uploads/2017/09/logo-2-5.png'
                                                                                                alt=''
                                                                                                width='110'
                                                                                                height='auto'
                                                                                            /></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table
        style='width: 600px;'
        border='0'
        width='600'
        cellspacing='0'
        cellpadding='0'
        align='center'
    >
        <tbody>
            <tr>
                <td
                    style='line-height: 0px; font-size: 0px; mso-line-height-rule: exactly;'
                >
                    <div
                        style='background: #ffffff; background-color: #ffffff; margin: 0px auto; max-width: 600px;'
                    >
                        <table
                            style='background: rgb(255, 255, 255); width: 101.003%;'
                            role='presentation'
                            border='0'
                            cellspacing='0'
                            cellpadding='0'
                            align='center'
                        >
                            <tbody>
                                <tr>
                                    <td
                                        style='direction: ltr; font-size: 0px; padding: 30px 0px 70px; text-align: center; vertical-align: top; height: 360px; width: 100%;'
                                    >
                                        <table
                                            style='width: 100.168%;'
                                            border='0'
                                            cellspacing='0'
                                            cellpadding='0'
                                        >
                                            <tbody>
                                                <tr>
                                                    <td
                                                        class=''
                                                        style='vertical-align: top; width: 100.671%;'
                                                    >
                                                        <div
                                                            class='mj-column-per-100 outlook-group-fix'
                                                            style='font-size: 13px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;'
                                                        >
                                                            <table
                                                                style='vertical-align: top; width: 98.9916%;'
                                                                role='presentation'
                                                                border='0'
                                                                width='597'
                                                                cellspacing='0'
                                                                cellpadding='0'
                                                            >
                                                                <tbody>
                                                                    <tr>
                                                                        <td
                                                                            style='font-size: 0px; padding: 0px 50px; word-break: break-word; width: 100%;'
                                                                            align='left'
                                                                        >
                                                                            <div
                                                                                style='font-family: Open Sans, Helvetica,                                            Arial, sans-serif; font-size: 13px; line-height: 22px; text-align: left; color: #797e82;'
                                                                            >
                                                                                <h1
                                                                                ><span
                                                                                        style='text-decoration: underline;'
                                                                                    ><span
                                                                                            style='color: rgb(0, 0, 0); text-decoration: underline;'
                                                                                        ><strong
                                                                                            >Techinfini
                                                                                                Contact
                                                                                                Us</strong></span></span></h1>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr
                                                                        style='height: 225px;'
                                                                    >
                                                                        <td
                                                                            style='font-size: 0px; padding: 0px 50px; word-break: break-word; height: 225px; width: 100%;'
                                                                            align='left'
                                                                        >
                                                                            <div
                                                                                style='font-family: Open Sans, Helvetica,                                            Arial, sans-serif; font-size: 13px; line-height: 22px; text-align: left; color: #797e82;'
                                                                            >
                                                                                <p
                                                                                ><span
                                                                                        style='color: rgb(0, 0, 0);'
                                                                                    ><strong
                                                                                        >User
                                                                                            Name</strong></span>
                                                                                    <span
                                                                                        style='color: rgb(0, 0, 0);'
                                                                                    >-
                                                                                    </span><strong
                                                                                    >{{USERNAME}}</strong></p>
                                                                                <p
                                                                                ><span
                                                                                        style='color: rgb(0, 0, 0);'
                                                                                    ><strong
                                                                                        >User
                                                                                            Email</strong>
                                                                                        -</span>
                                                                                    <strong
                                                                                    >{{USEREMAIL}}</strong></p>
                                                                                <p
                                                                                ><span
                                                                                        style='color: rgb(0, 0, 0);'
                                                                                    ><strong
                                                                                        >User
                                                                                            Phone
                                                                                            Number</strong>
                                                                                        -</span>
                                                                                    <strong
                                                                                    >{{USERPHONENUMBER}}</strong></p>
                                                                                <p
                                                                                ><span
                                                                                        style='color: rgb(0, 0, 0);'
                                                                                    ><strong
                                                                                        >User
                                                                                            Message</strong>
                                                                                        -
                                                                                    </span><strong
                                                                                    >{{MESSAGE}}</strong></p>
                                                                                <p
                                                                                >&nbsp;</p>
                                                                                <p
                                                                                ><span
                                                                                        style='color: rgb(0, 0, 0);'
                                                                                    ><strong
                                                                                        >Thank
                                                                                            you</strong></span></p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>