<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>REQUIRED DOCUMENT</title>
</head>
<body>
  <div>{{{EMAILMESSAGE}}}</div>
  {{!-- <div>
      <p>MM/DD/YYYY<br>&nbsp;</p>
            <p>Candidate First and Last Name<br>Candidate Address<br>City, State, Zip<br>&nbsp;</p>
            <p>Dear [<em>Candidate Name</em>],<br>&nbsp;</p>
            <p>We are pleased to offer you the [<em>full-time, part-time, etc.</em>] position of [<em>job title</em>] at [<em>company name</em>] with a start date of [<em>start date</em>], contingent upon [<em>background check, I-9 form, etc.</em>]. You will be reporting directly to [<em>manager/supervisor name</em>] at [<em>workplace location</em>]. We believe your skills and experience are an excellent match for our company.<br>&nbsp;</p>
            <p>In this role, you will be required to [<em>briefly mention relevant job duties and responsibilities</em>].<br>&nbsp;</p>
            <p>The annual starting salary for this position is [<em>dollar amount</em>] to be paid on a [<em>monthly, semi-monthly, weekly, etc.</em>] basis by [<em>direct deposit, check, etc.</em>], starting on [<em>first pay period</em>]. In addition to this starting salary, we&rsquo;re offering you [<em>discuss stock options, bonuses, commission structures, etc. &mdash; if applicable</em>].<br>&nbsp;</p>
            <p>Your employment with [<em>Company Name</em>] will be on an at-will basis, which means you and the company are free to terminate the employment relationship at any time for any reason. This letter is not a contract or guarantee of employment for a definitive period of time.<br>&nbsp;</p>
            <p>As an employee of [<em>Company Name</em>], you are also eligible for our benefits program, which includes [<em>medical insurance, 401(k), vacation time, etc.</em>], and other benefits which will be described in more detail in the [<em>employee handbook, orientation package, etc.</em>].<br>&nbsp;</p>
            <p>Please confirm your acceptance of this offer by signing and returning this letter by [<em>offer expiration date</em>].<br>&nbsp;</p>
            <p>We are excited to have you join our team! If you have any questions, please feel free to reach out at any time.<br>&nbsp;</p>
            <p>&nbsp;</p>
<p><strong>Download Letter Link - {{DOCUMENTLINK}}</strong></p>
            <p>Sincerely,<br>[<em>Your Signature</em>]<br>&nbsp;</p>
            <p>[<em>Your Printed Name</em>]<br>[<em>Your Job Title</em>]<br>&nbsp;<br>Signature: ______________________________<br>Printed Name: ___________________________<br>Date: __________________________________</p>
  </div> --}}
  
             

</body>
</html>