<!-- START HEAD -->
<head>

    <!-- CHARSET -->
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <!-- MOBILE FIRST -->
    <meta
        name='viewport'
        content='width=device-width, initial-scale=1.0, maximum-scale=1.0'
    />

    <!-- GOOGLE FONTS -->
    <link
        href='https://fonts.googleapis.com/css?family=Ubuntu+Mono'
        rel='stylesheet'
    />
    <link
        href='https://fonts.googleapis.com/css?family=Ubuntu'
        rel='stylesheet'
    />

    <!-- RESPONSIVE CSS -->
    <style type='text/css'>
        @media only screen and (max-width: 550px){ .responsive_at_550{ width:
        90% !important; max-width: 90% !important; } }
    </style>

</head>
<!-- END HEAD -->

<!-- START BODY -->
<body leftmargin='0' topmargin='0' marginwidth='0' marginheight='0'>

    <!-- START EMAIL CONTENT -->
    <table
        width='100%'
        border='0'
        cellpadding='0'
        cellspacing='0'
        align='center'
    >
        <tbody>

            <tr>

                <td align='center' bgcolor='#1976D2'>

                    <table
                        width='100%'
                        border='0'
                        cellpadding='0'
                        cellspacing='0'
                        align='center'
                    >
                        <tbody>
                            <tr>
                                <td width='100%' align='center'>

                                    <!-- END SPACING -->

                                    <!-- START LOGO -->

                                    <!-- END LOGO -->

                                    <!-- START SPACING -->
                                    <table
                                        width='100%'
                                        border='0'
                                        cellpadding='0'
                                        cellspacing='0'
                                        align='center'
                                    >

                                    </table>
                                    <!-- END SPACING -->

                                    <!-- START CONTENT -->

                                    <table
                                        width='500'
                                        border='0'
                                        cellpadding='0'
                                        cellspacing='0'
                                        align='center'
                                        style='padding-left:20px; padding-right:20px;'
                                        class='responsive_at_550'
                                    >
                                        <tbody>
                                            <tr>
                                                <td
                                                    align='center'
                                                    bgcolor='#ffffff'
                                                >

                                                    <!-- START BORDER COLOR -->
                                                    <table
                                                        width='100%'
                                                        border='0'
                                                        cellpadding='0'
                                                        cellspacing='0'
                                                        align='center'
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    align='center'
                                                                    style='font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:0px;word-break:break-word;'
                                                                >
                                                                    <table
                                                                        width='100%'
                                                                        border='0'
                                                                        cellpadding='0'
                                                                        cellspacing='0'
                                                                        align='center'
                                                                    >
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    height='30'
                                                                                >&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table
                                                                        border='0'
                                                                        cellpadding='0'
                                                                        cellspacing='0'
                                                                        role='presentation'
                                                                        style='border-collapse:collapse;border-spacing:0px;'
                                                                    >
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style='width:110px;'
                                                                                >
                                                                                    <img
                                                                                        alt=''
                                                                                        height='auto'
                                                                                        src='https://futuriq.click/hrmstag/storage/uploads/logo/logo.png'
                                                                                        style='border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;'
                                                                                        title=''
                                                                                        width='110'
                                                                                    />
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- END BORDER COLOR -->

                                                    <!-- START SPACING -->
                                                    <table
                                                        width='100%'
                                                        border='0'
                                                        cellpadding='0'
                                                        cellspacing='0'
                                                        align='center'
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    height='30'
                                                                >&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- END SPACING -->

                                                    <!-- START HEADING -->
                                                    <table
                                                        width='90%'
                                                        border='0'
                                                        cellpadding='0'
                                                        cellspacing='0'
                                                        align='center'
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    width='100%'
                                                                    align='center'
                                                                >
                                                                    <h1
                                                                        style="font-family:'Ubuntu Mono', monospace; font-size:20px; color:#202020; font-weight:bold; padding-left:20px; padding-right:20px;"
                                                                    >Reset your
                                                                        password</h1>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- END HEADING -->

                                                    <!-- START PARAGRAPH -->
                                                    <table
                                                        width='90%'
                                                        border='0'
                                                        cellpadding='0'
                                                        cellspacing='0'
                                                        align='center'
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    align='left'
                                                                    style='font-size:0px;padding:0px 25px 0px 25px;padding-top:0px;padding-right:50px;padding-bottom:0px;word-break:break-word;'
                                                                >
                                                                    <div
                                                                        style='font-family:Open Sans, Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;text-align:left;color:#797e82;'
                                                                    >
                                                                        <p
                                                                            style="font-family:'Ubuntu', sans-serif; font-size:14px; color:#202020; padding-right:20px; text-align:justify;"
                                                                        >Hi
                                                                            {{CANDIDATENAME}},
                                                                            </p>

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    width='100%'
                                                                    align='center'
                                                                >
                                                                    <p
                                                                        style="font-family:'Ubuntu', sans-serif; font-size:14px; color:#202020; padding-left:20px; padding-right:20px; text-align:justify;"
                                                                    >You
                                                                        received
                                                                        this
                                                                        E-mail
                                                                        in
                                                                        response
                                                                        to your
                                                                        request
                                                                        to reset
                                                                        your
                                                                        password.</p>
                                                                    <p
                                                                        style="font-family:'Ubuntu', sans-serif; font-size:14px; color:#202020; padding-left:20px; padding-right:20px; text-align:justify;"
                                                                    >Click the
                                                                        button
                                                                        below to
                                                                        reset
                                                                        your
                                                                        password,
                                                                        the
                                                                        reset
                                                                        password
                                                                        link is
                                                                        only
                                                                        valid
                                                                        for 10
                                                                        minutes.</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- END PARAGRAPH -->

                                                    <!-- START SPACING -->
                                                    <table
                                                        width='100%'
                                                        border='0'
                                                        cellpadding='0'
                                                        cellspacing='0'
                                                        align='center'
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    height='30'
                                                                >&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- END SPACING -->

                                                    <!-- START BUTTON -->
                                                    <table
                                                        width='200'
                                                        border='0'
                                                        cellpadding='0'
                                                        cellspacing='0'
                                                        align='center'
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    align='center'
                                                                    bgcolor='#1976D2'
                                                                >
                                                                    <a
                                                                        style="font-family:'Ubuntu Mono', monospace; display:block; color:#ffffff; font-size:14px; font-weight:bold; text-decoration:none; padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px;"
                                                                        href={{RESETURL}}
                                                                    >Reset
                                                                        Password</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- END BUTTON -->

                                                    <!-- START SPACING -->
                                                    <table
                                                        width='100%'
                                                        border='0'
                                                        cellpadding='0'
                                                        cellspacing='0'
                                                        align='center'
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    height='30'
                                                                >&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- END SPACING -->

                                                    <!-- START PARAGRAPH -->
                                                    <table
                                                        width='90%'
                                                        border='0'
                                                        cellpadding='0'
                                                        cellspacing='0'
                                                        align='center'
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    width='100%'
                                                                    align='center'
                                                                >
                                                                    <p
                                                                        style="font-family:'Ubuntu', sans-serif; font-size:14px; color:#202020; padding-left:20px; padding-right:20px; text-align:justify;"
                                                                    >If the
                                                                        above
                                                                        button
                                                                        doesn't
                                                                        work,
                                                                        you can
                                                                        reset
                                                                        your
                                                                        password
                                                                        by
                                                                        clicking
                                                                        the
                                                                        following
                                                                        link,
                                                                        <a
                                                                            href={{RESETURL}}</a>Reset Password</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- END PARAGRAPH -->

                                                    <!-- START SPACING -->
                                                    <table
                                                        width='100%'
                                                        border='0'
                                                        cellpadding='0'
                                                        cellspacing='0'
                                                        align='center'
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    height='30'
                                                                >&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- END SPACING -->

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- END CONTENT -->

                                    <!-- START SPACING -->

                                    <!-- END SPACING -->

                                    <!-- START SOCIAL MEDIA ICONS -->

                                    <!-- END SOCIAL MEDIA ICONS -->

                                    <!-- END FOOTER -->

                                    <!-- START SPACING -->
                                    <table
                                        width='100%'
                                        border='0'
                                        cellpadding='0'
                                        cellspacing='0'
                                        align='center'
                                    >
                                        <tbody>
                                            <tr>
                                                <td height='40'>&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- END SPACING -->

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>

            </tr>

        </tbody>
    </table>
    <!-- END EMAIL CONTENT -->

</body>
<!-- END BODY -->